
body {
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
div {
    text-align: center;
}
.tracker{
    padding-bottom: 10px;
}
.bold{
    font-weight: bolder;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {  display: grid;
    grid-template-columns: 1.4fr 1.2fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header"
      "Game Store"
      "Footer Footer";
      height: 100vh;
  }
  
  .Header { grid-area: Header;
    text-align: center; 
    background-color:rgb(119, 31, 195);
    font-size: xx-large;
    
}
  
  .Footer { grid-area: Footer; 
    background-color:rgb(182, 28, 154);
}
  
  .Game { grid-area: Game; 
    background-color:rgb(208, 66, 149);
}
  
  .Store { grid-area: Store; 
    background-color:rgb(139, 28, 224);
}
.purchase_buttons {
  width: 100%;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.purchase_buttons:active{
    transform: scale(0.95);
}
.purchase_buttons:active,
.purchase_buttons:hover {
  outline: 0;
}

.purchase_buttons span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.purchase_buttons:hover span {
  background: none;
}

@media (min-width: 768px) {
  .purchase_buttons {
    font-size: 24px;
    min-width: 196px;
  }
} 
.clicker {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.clicker:before {
  content: "";
  background: linear-gradient(
    45deg,
    #5b06ca,
    #5521cf,
    #4f0cca,
    #bf0dd6,
    #350b85,
    #7d0396,
    #7a00ff,
    #ff00c8,
    #7506cf
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-clicker 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-clicker {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.clicker:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.shrink {
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5f5f5 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f5f5f5 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f5f5f5 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f5f5f5 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f5f5f5 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    border: 1px solid #dddddd;
    padding: 5px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
 }
 .shrink:active {
    background: #dddddd; /* Old browsers */
    background: -moz-linear-gradient(top,  #dddddd 0%, #f5f5f5 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(99%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dddddd 0%,#f5f5f5 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dddddd 0%,#f5f5f5 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dddddd 0%,#f5f5f5 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #dddddd 0%,#f5f5f5 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
    transform: scale(0.85);
 }
 .purchase_buttons:disabled{
    width: 100%;
    align-items: center;
    background-image: linear-gradient(144deg,#4f4f4F, #383838 50%,#232323);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(166, 166, 166, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    } 
    .mutebutton {
        width: 10em;
        position: fixed;
        top: 25px;
        right: 25px;
        height: 3.5em;
        border: 3px ridge #281342;
        outline: none;
        background-color: transparent;
        color: rgb(178, 19, 226);
        transition: 1s;
        border-radius: 0.3em;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }
      
      .mutebutton::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 3%;
        width: 95%;
        height: 40%;
        background-color: #b956d1;
        background-color: transparent;
        transition: 0.5s;
        transform-origin: center;
      }
      
      .mutebutton::before {
        content: "";
        transform-origin: center;
        position: absolute;
        top: 80%;
        left: 3%;
        width: 95%;
        height: 40%;
        background-color: #7218a7;
        background-color: transparent;
        transition: 0.5s;
      }
      
      .mutebutton:hover::before, .mutebutton:hover::after {
        transform: scale(0)
      }
      
      .mutebutton:hover {
        box-shadow: inset 0px 0px 25px #6410a8;
      }